@charset "UTF-8";

@font-face {
  font-family: "derrmaui";
  src:url("../fonts/derrmaui.eot");
  src:url("../fonts/derrmaui.eot?#iefix") format("embedded-opentype"),
    url("../fonts/derrmaui.woff") format("woff"),
    url("../fonts/derrmaui.svg#derrmaui") format("svg"),
    url("../fonts/derrmaui.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "derrmaui" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.cari-yayasan input[type=submit],
.cari-inventori input[type=submit],
a span.faveImage,
.cd-search-trigger::before,
.sb-icon-search:before,
.carousel-control .icon-prev::before,
.carousel-control .icon-next::before {
  font-family: "derrmaui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-slidetop:before {
  content: "\5e";
}
.icon-icon-basket:before {
  content: "\62";
}
.icon-icon-check:before {
  content: "\63";
}
.icon-icon-close-boxed:before {
  content: "\64";
}
.icon-icon-close-naked:before {
  content: "\78";
}
.icon-icon-collapse-boxed:before {
  content: "\2d";
}
.icon-icon-edit:before {
  content: "\65";
}
.icon-icon-edit-notes:before {
  content: "\6a";
}
.icon-icon-expand-boxed:before {
  content: "\2b";
}
.icon-icon-facebook:before {
  content: "\66";
}
.icon-icon-favorite:before {
  content: "\6c";
}
.icon-icon-gplus:before {
  content: "\67";
}
.icon-icon-instagram:before {
  content: "\69";
}
.icon-icon-pinterest:before {
  content: "\71";
}
.icon-icon-search:before {
  content: "\6d";
}
.icon-icon-twitter:before {
  content: "\74";
}
.icon-icon-youtube:before {
  content: "\79";
}
.icon-left-arrow:before {
  content: "\3c";
}
.icon-right-arrow:before {
  content: "\3e";
}
.icon-icon-star-half:before {
  content: "\7a";
}
.icon-icon-star:before {
  content: "\73";
}
.icon-icon-mail:before {
  content: "\40";
}
.icon-icon-checkbox:before {
  content: "\61";
}
.icon-icon-radiocircle:before {
  content: "\68";
}
.icon-icon-account:before {
  content: "\6e";
}

.checkbox {
  padding-left: 20px;
  margin: 20px 0;
}
.plain-page.login form .checkbox label, .plain-page.login form .checkbox p {
	line-height: 1.3;
}
.daftar-barang .checkbox {
	margin: 0;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 10px;
  margin-bottom: 0;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  margin-left: -20px;
  line-height: normal;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    margin-top: 3px;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"]:checked + label::before,
.checkbox input[type="radio"]:checked + label::before {
  background-color: #5593ff;
  border-color: #5593ff; }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  color: #fff;
  text-shadow: none;}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "derrmaui" !important;
  content: "\61";
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.daftar-barang .checkbox label::before {
  width: 18px;
  height: 18px;
}
.daftar-barang .checkbox label::after {
  font-size: 11px;
  width: 18px;
  height: 18px;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 10px;
  margin-bottom: 0;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  margin-left: -20px;
  border-radius: 50%;
  border: 1px solid #d3cfcb;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 6px;
  height: 6px;
  left: 6px;
  top: 6px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin: 10px 0 20px 0;
}
.radio input[type="checkbox"]:checked + label::before,
.radio input[type="radio"]:checked + label::before {
  background-color: #5593ff;
  border-color: #5593ff;  }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: "derrmaui" !important;
  content: "\61";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}
